.body {
  font-family: 'Lobster', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}
.section-item a {
  color: #dd1a65;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #0de030;
}
.html {
  scroll-behavior: smooth; 
}
