.body {
  font-family: 'Lobster', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  line-height: 50px;
  transition: .3s;
}
.section-item a {
  color: #dd1a65;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #0de030;
}
.html {
  scroll-behavior: smooth; 
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
@media (max-width: 2800px) {
  .section {
    width: 100%;
  }
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}
.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}